@(form: Form[forms.member.MemberSearchForm])

@main("インテックス"){

<table class="main" width="100%" border = "1">
<tr><td class="main">
	<table width="100%">
		<tr>
			<td><div class="title" >■ユーザー検索(男)</div></td>
			<td align="right">
				<input type="button" value="サブステータスをテストユーザーに変更">
			</td>
		</tr>
	</table>
	<hr>
	<table width="100%">

@helper.form(action = routes.MemberController.search()) {

		<input type="hidden" name="gender" value="0">
		<input type="hidden" name="gender" value="0">
				
		<tr>
			<td class="name" width="12%">ID</td>
			<td class="val" width="38%">
				<textarea name="ids" style="ime-mode: inactive;">@form("ids").value</textarea>
				<label for="L_idnot">
					<input id="L_idnot" type="checkbox" name="idsOptions['not']" value="ON"><strong>否定</strong>
				</label>
			</td>
			<td class="name" width="12%" nowrap>
				<LABEL><input type="checkbox" name="col_tel" value="1" >
				電話番号</LABEL>
			</td>
			<td class="val" width="38%">
				<textarea name="tel" style="ime-mode: inactive;">@form("tel").value</textarea>
				
				<input id="L_telfuzzy" type="checkbox" name="telOptions['fuzzy']" value="ON"><label for="L_telfuzzy"><strong>曖昧</strong></label>
				<input id="L_telnot" type="checkbox" name="telOptions['not']" value="ON"><label for="L_telnot"><strong>否定</strong></label>
			</td>
		</tr>

		<tr>
			<td class="name" width="12%" nowrap>
				<LABEL><input type="checkbox" name="email1Options['enable']" value="ON"  checked>
				メール</LABEL>
			</td>
			<td class="val" width="38%">
				<textarea name="email1" style="ime-mode: inactive;">@form("email1").value</textarea>
				<input id="L_mailfuzzy" type="checkbox" name="email1Options['fuzzy']" value="ON"><label for="L_mailfuzzy"><strong>曖昧</strong></label>
				<input id="L_mailnot" type="checkbox" name="email1Options['not']" value="ON"><label for="L_mailnot"><strong>否定</strong></label>
			</td>
			<td class="name" width="12%" nowrap>
				<LABEL><input type="checkbox" name="email2Options['enable']" value="ON" >
				サブメール</LABEL>
			</td>
			<td class="val" width="38%">
				<textarea name="smail" style="ime-mode: inactive;">@form("email2").value</textarea>
				<input id="L_smailfuzzy" type="checkbox" name="email2Options['fuzzy']" value="ON"><label for="L_smailfuzzy"><strong>曖昧</strong></label>
				<input id="L_smailnot" type="checkbox" name="email2Options['not']" value="ON"><label for="L_smailnot"><strong>否定</strong></label>
				<input id="L_smailng" type="checkbox" name="email2Options['ng']" value="ON"><label for="L_smailng"><strong>不良</strong></label>
			
			</td>
		</tr>

	<tr>
		<td class="name" width="12%" nowrap>
			メールキャリア
		</td>
		<td class="val" width="38%">
			<select name="career1Type[]" multiple size="6">
				<option value=""  selected>指定しない</option>
				<option value="@constants.enums.Carrier.DOCOMO.getValue()">
					@constants.enums.Carrier.DOCOMO.getLabel()</option>
				<option value="@constants.enums.Carrier.AU.getValue()">
					@constants.enums.Carrier.AU.getLabel()</option>
				<option value="@constants.enums.Carrier.SOFTBANK.getValue()">
					@constants.enums.Carrier.SOFTBANK.getLabel()</option>
				<option value="@constants.enums.Carrier.WILLCOM.getValue()">
					@constants.enums.Carrier.WILLCOM.getLabel()</option>
				<option value="@constants.enums.Carrier.PC.getValue()">
					@constants.enums.Carrier.PC.getLabel()</option>
			</select>
		</td>
		<td class="name" width="12%" nowrap>
			サブキャリア
		</td>
		<td class="val" width="38%">
			<select name="career2Type[]" multiple size="6">
				<option value=""  selected>指定しない</option>
				<option value="@constants.enums.Carrier.DOCOMO.getValue()">
					@constants.enums.Carrier.DOCOMO.getLabel()</option>
				<option value="@constants.enums.Carrier.AU.getValue()">
					@constants.enums.Carrier.AU.getLabel()</option>
				<option value="@constants.enums.Carrier.SOFTBANK.getValue()">
					@constants.enums.Carrier.SOFTBANK.getLabel()</option>
				<option value="@constants.enums.Carrier.WILLCOM.getValue()">
					@constants.enums.Carrier.WILLCOM.getLabel()</option>
				<option value="@constants.enums.Carrier.PC.getValue()">
					@constants.enums.Carrier.PC.getLabel()</option>
			</select>
		</td>
	</tr>

	<tr>
		<td class="name" width="12%" nowrap>
			<LABEL><input type="checkbox"  name="statusOptions['enable']" value="ON" checked>
			ステータス</LABEL>
		</td>
		<td class="val" width="38%">
			<!-- // ユーザー検索 -->
			<select name="status[]" multiple size="7" id="select_status" class="">
				<option value=""  selected>指定しない</option>
				<option value="0">未認証</option>
				<option value="1">アドレス不良会員</option>
				<option value="2">仮退会会員</option>
				<option value="3">退会会員</option>
				<option value="4">不良会員</option>
				<option value="5">アクティブ</option>
				<option value="6">テストユーザー</option>
			</select>
					</td>
		<td class="name" width="12%" nowrap>
			<LABEL><input type="checkbox" name="subStatusOptions['enable']" value="ON" checked>
			サブステータス</LABEL>
		</td>
		<td class="val" width="38%">
			<select name="subStatus[]" multiple size="7" id="select_substatus" class="">
				<option value=""  selected>指定しない</option>
				<option value="-2">強制無料会員</option>
				<option value="-1">無料会員</option>
				<option value="0">通常会員</option>
				<option value="1">未払い会員</option>
				<option value="3">◆購入１回◆</option>
				<option value="4">◆通常購入者◆</option>
				<option value="5">◆URL置換NG◆</option>
				<option value="9">℡済み追走必須ユーザー</option>
				<option value="11">◆◆60日間購入なし◆◆</option>
				<option value="13">★誘導★無料★送信無★</option>
				<option value="14">◇CNV◇</option>
				<option value="15">◆追走必須会員◆</option>
				<option value="16">◆重要◆購入者手続き中◆</option>
				<option value="18">【一時無料設定】</option>
				<option value="19">口座送信送らせ用</option>
				<option value="20">口座送信もう一回取る用</option>
				<option value="21">☆tommy☆</option>
				<option value="26">【Escort bank】手続き</option>
				<option value="27">◇誘導cnv◇</option>
				<option value="28">◇csvインポート◇</option>
				<option value="31">新規0000再</option>
				<option value="32">高PTキャペ待ち会員</option>
				<option value="35">◆誘導購入者◆</option>
				<option value="36">◆手続き中誘導◆</option>
				<option value="37">◆誘導未購入◆</option>
				<option value="38">黒木で買った人に</option>
				<option value="40">きーぼー専用</option>
				<option value="41">追差分用</option>
				<option value="42">【TWT】購入したらこれに変える</option>
				<option value="44">【自社誘導】twitter・mixi誘導【未購入】</option>
				<option value="45">【自社誘導】占い誘導【1キャラのみ】</option>
				<option value="46">会報で買った人</option>
				<option value="47">9月再0000</option>
			</select>
		</td>
	</tr>
	
	<tr>
		<td class="name" width="12%" nowrap>
			<LABEL><input type="checkbox" name="payStatusOptions['enable']" value="ON" >
			料金ステータス</LABEL>
		</td>
		<td class="val" width="38%">
			<select name="payStatus[]" multiple size="7" id="select_price_status" class="">
				<option value=""  selected>指定しない</option>
				<option value="0">デフォルト</option>
				<option value="1">正会員</option>
				<option value="2">未使用</option>
				<option value="3">TWT</option>
				<option value="4">mir</option>
				<option value="5">セール価格</option>
				<option value="6">未使用</option>
				<option value="7">未使用</option>
				<option value="8">未使用</option>
				<option value="9">Cチェック無し</option>
				<option value="10">外人用</option>
				<option value="11">銀行オンリー</option>
				<option value="12">テスト</option>
				<option value="13">サスケ用</option>
				<option value="14">1000円から購入用</option>
				<option value="15">3000円セキュリティーマネー用</option>
			</select>
		</td>
		<td class="name" width="12%" nowrap>
			<LABEL><input type="checkbox" name="pointStatusOptions['enable']" value="ON" >
			ポイントステータス</LABEL>
		</td>
		<td class="val" width="38%">
			<select name="pointStatus[]" multiple size="7" id="select_point_status" class="">
				<option value=""  selected>指定しない</option>
				<option value="0">デフォルト設定</option>
				<option value="1">正会員　送信40pt開封5pt</option>
				<option value="2">開封無料　送信38pt　開封0pt</option>
				<option value="3">純広AF【完全無料】</option>
				<option value="4">正会員　送信40pt開封5pt写真0pt</option>
				<option value="5">★誘導★無料★送信無★</option>
				<option value="6">送信40 開封0 写真15</option>
				<option value="7">【一時無料設定】</option>
				<option value="8">完全無料</option>
				<option value="9">送信40PT開封1PT</option>
				<option value="10">送信2PT開封2PT</option>
				<option value="11">サスケ専用 送信100pt 開封30pt</option>
				<option value="12">開封無料 送信40pt　開封0pt 写真0pt</option>
				<option value="13">【送信割引中】</option>
				<option value="14">15250PT購入会員 送信45pt 開封10pt</option>
				<option value="15">削り専用</option>
				<option value="16">しょう専用</option>
				<option value="17">ソウマ専用送信20ＰＴ開封5ＰＴ</option>
				<option value="18">送信10PT閲覧1PT</option>
				<option value="19">未購 送信10pt開封1pt</option>
				<option value="20">正会員　送信20ｐｔ　開封0pt　写真閲覧15pt</option>
				<option value="21">正会員　送信38pt 開封5pt</option>
				<option value="22">テラ用</option>
				<option value="23">最強設定</option>
				<option value="24">10/29 送信30PT</option>
				<option value="25">8/11 送信＋３PT</option>
				<option value="26">ブラックリスト</option>
				<option value="27">女</option>
				<option value="28">準完全無料【開封のみ80PT】</option>
				<option value="29">開封ﾌﾟﾗｽ1PT　送信40PT</option>
				<option value="30">sin wa専用　送信10PT　開封0</option>
				<option value="31">◇配信用◇</option>
				<option value="32">◆送信+7pt◆</option>
				<option value="33">連絡先以外無料</option>
				<option value="34">モロ出し100pt用</option>
				<option value="35">キャッシュバック会員</option>
				<option value="36">tsm</option>
				<option value="37">【MIX】mixi誘導</option>
				<option value="38">審査用※削除・変更禁止※</option>
				<option value="39">【自社誘導】twitter・mixi誘導</option>
				<option value="40">【自社誘導】mir【占い誘導】</option>
				<option value="41">マック用99999PT</option>
				<option value="42">送信1PT正会員</option>
				<option value="43">送信38開封0写真0</option>
				<option value="44">送信無料開封5PT</option>
				<option value="45">リニューアル無料</option>
				<option value="46">シンジ用写真閲覧35</option>
				<option value="47">篠崎真士用添付50000ｐｔ</option>
				<option value="48">コボリ</option>
				<option value="49">マック用全て無料</option>
				<option value="50">送信2PT開封0PT写真15</option>
				<option value="51">送信20PT閲覧5PT</option>
				<option value="52">ヤスコン設定添付3000PT</option>
				<option value="53">送信3PT追加</option>
				<option value="54">3/28　送信７ｐｔ</option>
				<option value="55">ダン用添付140000</option>
				<option value="56">添付１万PT　美里用</option>
				<option value="57">永久送信2pt閲覧2pt</option>
				<option value="58">送信5ｐｔ開封5pt</option>
				<option value="59">送信5pt開封0pt</option>
				<option value="60">ＶＩＰランク</option>
				<option value="61">送信0p開封0pt閲覧15pt</option>
				<option value="62">送信0p開封5pt閲覧15pt</option>
				<option value="63">【連絡先もオール無料】</option>
				<option value="64">7/1レインボー</option>
				<option value="65">奥誠</option>
			</select>
		</td>
	</tr>
	
	<tr>
		<td class="name" width="12%" nowrap>
			<LABEL><input type="checkbox" name="pointStatusOptions['enable']" value="ON" >
			代理店</LABEL>
		</td>
		<td class="val" width="38%">
			<strong>
			<textarea name="code" style="ime-mode: inactive;"></textarea>
			<label for="L_code_codefuzzy"><input id="L_code_codefuzzy" type="checkbox" name="codefuzzy" value="ON">曖昧</label>
			<label for="L_code_codenot"><input id="L_code_codenot" type="checkbox" name="codenot" value="ON">否定</label>
			<br />
			（全体チェック※優先
			<label for="L_code_notempty_0"><input type="radio" id="L_code_notempty_0" name="codenotempty" value="0" checked>指定しない</label>
			<label for="L_code_notempty_1"><input type="radio" id="L_code_notempty_1" name="codenotempty" value="1" >空欄以外</label>
			<label for="L_code_notempty_2"><input type="radio" id="L_code_notempty_2" name="codenotempty" value="2">空欄</label>
			）
			</strong>
		</td>
		<td class="name" width="12%" nowrap>
			広告名
		</td>
		<td class="val" width="38%">
			<strong>
			<textarea name="advertisement" style="ime-mode: inactive;"></textarea>
			<label for="L_advertisefuzzy">
				<input id="L_advertisefuzzy" type="checkbox" name="pointStatusOptions['fuzzy']" value="ON"/>
				曖昧</label>
			<label for="L_advertisenot">
				<input id="L_advertisenot" type="checkbox" name="pointStatusOptions['not']" value="ON"/>
				否定</label>
			</strong>
		</td>
	</tr>
@*
	<tr>
		<td class="name" width="12%" nowrap>代理店パラメータ</td>
		<td class="val" width="38%"><input name="ad_code" size="20"></td>
		<td class="name" width="12%" nowrap>
			<LABEL><input type="checkbox" name="col_importcode" value="1" >
			Fromﾒｰﾙｱﾄﾞﾚｽ</LABEL>
		</th>
		<td class="val" width="38%">
			<strong>
			<input name="importcode" size="20">
			<label for="L_importcodefuzzy"><input id="L_importcodefuzzy" type="checkbox" name="importcodefuzzy" value="ON">曖昧</label>
			<label for="L_importcodenot"><input id="L_importcodenot" type="checkbox" name="importcodenot" value="ON">否定</label>
			</strong>
		</td>
	</tr>

	<tr>
		<td class="name" width="12%"  nowrap>
			<LABEL><input type="checkbox" name="col_jointime" value="1" >
			登録日時</LABEL>
			<div align="center" id="jointime_click"></div>
			<script src="js/date_click.js?id=jointime_click&jyy=y&jmm=m&jdd=d&jhh=00&jii=00&jyy2=y&jmm2=m&jdd2=d&jhh2=23&jii2=59&jchk=true"></script>
		</td>
		<td class="val"width="38%"><strong>
			<input name="jyy" size="8" style="ime-mode: inactive;">/<input name="jmm" size="4" style="ime-mode: inactive;">/<input name="jdd" size="4"> <input name="jhh" size="4" style="ime-mode: inactive;">:<input name="jii" size="4" style="ime-mode: inactive;">
			<label for="L_jchk"><input id="L_jchk" type="checkbox" name="jchk" value="t">範囲</label><br>
			<input name="jyy2" size="8" style="ime-mode: inactive;">/<input name="jmm2" size="4" style="ime-mode: inactive;">/<input name="jdd2" size="4"> <input name="jhh2" size="4" style="ime-mode: inactive;">:<input name="jii2" size="4" style="ime-mode: inactive;"><br>
			<!--( <input type="text" name="join_ago" size="3">日前 <label for="L_is_join_not"><input id="L_is_join_not" type="checkbox" name="is_join_not" value="1">以前</label> )-->
			( <input type="text" name="join_ago" size="3" id="join_ago" onkeyup="set_time('join');">日前 <label for="L_is_join_theday"><input type="radio" id="L_is_join_theday" name="is_join_not" value="" onclick="set_time('join');">当日</label> <label for="L_is_join_not"><input type="radio" id="L_is_join_not" name="is_join_not" value="ago" onclick="set_time('join');">以前</label> <label for="L_is_join_last"><input type="radio" id="L_is_join_last" name="is_join_not" value="last" onclick="set_time('join');">以後</label> )
			</strong>
		</td>
		<td class="name" width="12%"　nowrap>
			<LABEL><input type="checkbox" name="col_lasttime" value="1"  checked>
			最終ログイン</LABEL>
			<div align="center" id="lasttime_click"></div>
			<script src="js/date_click.js?id=lasttime_click&lyy=y&lmm=m&ldd=d&lhh=00&lii=00&lyy2=y&lmm2=m&ldd2=d&lhh2=23&lii2=59&lchk=true"></script>
		</td>
		<td class="val" width="38%"><strong>
			<input name="lyy" size="8" style="ime-mode: inactive;">/<input name="lmm" size="4" style="ime-mode: inactive;">/<input name="ldd" size="4" style="ime-mode: inactive;"> <input name="lhh" size="4" style="ime-mode: inactive;">:<input name="lii" size="4" style="ime-mode: inactive;">
			<label for="L_lchk"><input id="L_lchk" type="checkbox" name="lchk" value="t">範囲</label><br>
			<input name="lyy2" size="8" style="ime-mode: inactive;">/<input name="lmm2" size="4" style="ime-mode: inactive;">/<input name="ldd2" size="4" style="ime-mode: inactive;"> <input name="lhh2" size="4" style="ime-mode: inactive;">:<input name="lii2" size="4" style="ime-mode: inactive;"><br>
			<!--( <input name="last_ago" size="3">日前 <label for="L_is_last_not"><input id="L_is_last_not" type="checkbox" name="is_last_not" value="1">以前</label> )-->
			( <input type="text" name="last_ago" size="3" id="last_ago" onkeyup="set_time('last');">日前 <label for="L_is_last_theday"><input type="radio" id="L_is_last_theday" name="is_last_not" value="" onclick="set_time('last');">当日</label> <label for="L_is_last_not"><input type="radio" id="L_is_last_not" name="is_last_not" value="ago" onclick="set_time('last');">以前</label> <label for="L_is_last_last"><input type="radio" id="L_is_last_last" name="is_last_not" value="last" onclick="set_time('last');">以後</label> )
			</strong>
		</td>
	</tr>
	<tr>
		<td class="name" width="12%" nowrap>
			<LABEL><input type="checkbox" name="col_lastsendtime" value="1" >
			最終送信</LABEL>
			<div align="center" id="lastsendtime_click"></div>
			<script src="js/date_click.js?id=lastsendtime_click&syy=y&smm=m&sdd=d&shh=00&sii=00&syy2=y&smm2=m&sdd2=d&shh2=23&sii2=59&schk=true"></script>
		</td>
		<td class="val" width="38%"><strong>
			<input name="syy" size="8" style="ime-mode: inactive;">/<input name="smm" size="4" style="ime-mode: inactive;">/<input name="sdd" size="4" style="ime-mode: inactive;"> <input name="shh" size="4" style="ime-mode: inactive;">:<input name="sii" size="4" style="ime-mode: inactive;">
			<label for="L_schk"><input id="L_schk" type="checkbox" name="schk" value="t">範囲</label><br>
			<input name="syy2" size="8" style="ime-mode: inactive;">/<input name="smm2" size="4" style="ime-mode: inactive;">/<input name="sdd2" size="4" style="ime-mode: inactive;"> <input name="shh2" size="4" style="ime-mode: inactive;">:<input name="sii2" size="4" style="ime-mode: inactive;"><br>
			<!--( <input name="send_ago" size="3">時間前 <label for="L_is_send_not"><input id="L_is_send_not" type="checkbox" name="is_send_not" value="1">以前</label> )-->
			( <input type="text" name="send_ago" size="3" id="send_ago" onkeyup="set_time('send','1');">時間前 <label for="L_is_send_theday"><input type="radio" id="L_is_send_theday" name="is_send_not" value="" onclick="set_time('send','1');">当時間帯</label> <label for="L_is_send_not"><input type="radio" id="L_is_send_not" name="is_send_not" value="ago" onclick="set_time('send','1');">以前</label> <label for="L_is_send_last"><input type="radio" id="L_is_send_last" name="is_send_not" value="last" onclick="set_time('send','1');">以後</label> )
			</strong>
		</td>
		<td class="name" width="12%" nowrap>&nbsp;</td>
		<td class="val" width="38%">&nbsp;</td>
		<!-- 
		<td class="name" width="12%" nowrap>最終受信</td>
		<td class="val" width="38%"><strong>
			<input name="gyy" size="8" style="ime-mode: inactive;">/<input name="gmm" size="4" style="ime-mode: inactive;">/<input name="gdd" size="4" style="ime-mode: inactive;"> <input name="ghh" size="4" style="ime-mode: inactive;">:<input name="gii" size="4" style="ime-mode: inactive;">
			<label for="L_gchk"><input id="L_gchk" type="checkbox" name="gchk" value="t">範囲</label><br>
			<input name="gyy2" size="8" style="ime-mode: inactive;">/<input name="smm2" size="4" style="ime-mode: inactive;">/<input name="gdd2" size="4" style="ime-mode: inactive;"> <input name="ghh2" size="4" style="ime-mode: inactive;">:<input name="gii2" size="4" style="ime-mode: inactive;"><br>
			( <input name="get_ago" size="3">時間前 <label for="L_is_get_not"><input id="L_is_get_not" type="checkbox" name="is_get_not" value="1">以前</label> )
			</strong>
		</td>
		-->
	</tr>
	<tr>
		<td class="name" width="12%" nowrap>
			<LABEL><input type="checkbox" name="col_send_count" value="1" >
			累計送信数</LABEL>
		</td>
		<td class="val" width="38%"><strong>
			<input name="send_count" size="8" style="ime-mode: inactive;">～<input name="send_count2" size="8" style="ime-mode: inactive;">通</strong>
		</td>
		<td class="name" width="12%" nowrap>&nbsp;</th>
		<td class="val" width="38%">&nbsp;</td>
		<!-- 
		<td class="name" width="12%" nowrap>累計受信数</th>
		<td class="val" width="38%"><strong>
			<input name="getcount" size="8" style="ime-mode: inactive;">～<input name="getcount2" size="8" style="ime-mode: inactive;">通</strong>
		</td>
		-->
	</tr>
	<tr>
		<td class="name" width="12%" nowrap>
			<LABEL><input type="checkbox" name="col_name" value="1"  checked>
			ユーザ名</LABEL>
		</td>
		<td class="val" width="38%">
			<strong>
			<input name="name" size="20" style="ime-mode: active;">
			<label for="L_name"><input id="L_name" type="checkbox" name="namefuzzy" value="ON">曖昧</label>
			<label for="L_namenot"><input id="L_namenot" type="checkbox" name="namenot" value="ON">否定</label>
			</strong>
		</td>
		<td class="name" width="12%" bgcolor="'.$color_headercolor3.'" nowrap>
			<LABEL><input type="checkbox" name="col_nick" value="1"  checked>
			ニック</LABEL>
		</td>
		<td class="val" width="38%">
			<strong>
			<input name="nick" size="20" style="ime-mode: active;">
			<label for="L_nick"><input id="L_nick" type="checkbox" name="nickfuzzy" value="ON">曖昧</label>
			<label for="L_nicknot"><input id="L_nicknot" type="checkbox" name="nicknot" value="ON">否定</label>
			</strong>
		</td>
	</tr>
	<tr>
		<td class="name" width="12%" nowrap>
			<LABEL><input type="checkbox" name="col_omail" value="1" >
			登録時メール</LABEL>
		</td>
		<td class="val" width="38%">
			<strong>
			<input name="omail" style="ime-mode: inactive;">
			<label for="L_omail"><input id="L_omail" type="checkbox" name="omailfuzzy" value="ON">曖昧</label>
			</strong>
		</td>
		<td class="name" width="12%" nowrap>
			パスワード
		</td>
		<td class="val" width="38%">
			<strong><input name="pass" size="20" style="ime-mode: inactive;"></strong>
		</td>
	</tr>
	<tr>
		<td class="name" width="12%" nowrap >
			<LABEL><input type="checkbox" name="col_live" value="1" >
			地域</LABEL>
		</td>
		<td class="val" width="38%" >
			<select name="live[]" multiple size="7">
				<option value=""  selected>指定しない</option>
				<option value="0">全地域型</option>
				<option value="1">北海道</option>
				<option value="2">青森県</option>
				<option value="3">岩手県</option>
				<option value="4">宮城県</option>
				<option value="5">秋田県</option>
				<option value="6">山形県</option>
				<option value="7">福島県</option>
				<option value="8">茨城県</option>
				<option value="9">栃木県</option>
				<option value="10">群馬県</option>
				<option value="11">埼玉県</option>
				<option value="12">千葉県</option>
				<option value="13">東京都</option>
				<option value="14">神奈川県</option>
				<option value="15">新潟県</option>
				<option value="16">富山県</option>
				<option value="17">石川県</option>
				<option value="18">福井県</option>
				<option value="19">山梨県</option>
				<option value="20">長野県</option>
				<option value="21">岐阜県</option>
				<option value="22">静岡県</option>
				<option value="23">愛知県</option>
				<option value="24">三重県</option>
				<option value="25">滋賀県</option>
				<option value="26">京都府</option>
				<option value="27">大阪府</option>
				<option value="28">兵庫県</option>
				<option value="29">奈良県</option>
				<option value="30">和歌山県</option>
				<option value="31">鳥取県</option>
				<option value="32">島根県</option>
				<option value="33">岡山県</option>
				<option value="34">広島県</option>
				<option value="35">山口県</option>
				<option value="36">徳島県</option>
				<option value="37">香川県</option>
				<option value="38">愛媛県</option>
				<option value="39">高知県</option>
				<option value="40">福岡県</option>
				<option value="41">佐賀県</option>
				<option value="42">長崎県</option>
				<option value="43">熊本県</option>
				<option value="44">大分県</option>
				<option value="45">宮崎県</option>
				<option value="46">鹿児島県</option>
				<option value="47">沖縄県</option>
			</select>
		</td>
		<td class="name" width="12%" nowrap>
			<LABEL><input type="checkbox" name="col_blood" value="1" >
			血液型</LABEL>
		</td>
		<td class="val" width="38%">
			<select name="blood[]" multiple size="3">
				<option value=""  selected>指定しない</option>
				<option value="0">A</option>
				<option value="1">B</option>
				<option value="2">O</option>
				<option value="3">AB</option>
			</select>
		</td>
	</tr>
	<tr>
		<td class="name" width="12%" nowrap>
			<LABEL><input type="checkbox" name="col_holo" value="1"  checked>
			星座</LABEL>
		</td>
		<td class="val" width="38%">
			<select name="holo[]" multiple size="3">
				<option value=""  selected>指定しない</option>
				<option value="0">牡羊座</option>
				<option value="1">牡牛座</option>
				<option value="2">双子座</option>
				<option value="3">蟹座</option>
				<option value="4">獅子座</option>
				<option value="5">乙女座</option>
				<option value="6">天秤座</option>
				<option value="7">蠍座</option>
				<option value="8">射手座</option>
				<option value="9">山羊座</option>
				<option value="10">水瓶座</option>
				<option value="11">魚座</option>
			</select>
		</td>
		<td class="name" width="12%" nowrap>
			<LABEL><input type="checkbox" name="col_pr" value="1" >
			PR</LABEL>
		</td>
		<td class="val" width="38%">
			<strong>
			<textarea name="pr" style="ime-mode: inactive;"></textarea>
			<label for="L_pr"><input id="L_pr" type="checkbox" name="prfuzzy" value="ON">曖昧</label>
			<label for="L_prnot"><input id="L_prnot" type="checkbox" name="prnot" value="ON">否定</label>
			<br />
			（全体チェック※優先
			<label for="L_pr_notempty_0"><input type="radio" id="L_pr_notempty_0" name="prnotempty" value="0" checked>指定しない</label>
			<label for="L_pr_notempty_1"><input type="radio" id="L_pr_notempty_1" name="prnotempty" value="1" >空欄以外</label>
			<label for="L_pr_notempty_2"><input type="radio" id="L_pr_notempty_2" name="prnotempty" value="2">空欄</label>
			）
			</strong>
		</td>
	</tr>
	<tr>
		<td class="name" width="12%" nowrap>
			<LABEL><input type="checkbox" name="col_age" value="1" >
			年齢</LABEL>
		</td>
		<td class="val" width="38%">
			<strong><input name="age" size="4" style="ime-mode: inactive;">～</strong><strong><input name="age2" size="4" style="ime-mode: inactive;">歳</strong>
		</td>
		<td class="name" width="12%" nowrap>好みの年齢</td>
		<td class="val" width="38%">
			<select name="likeage" >
				<option value=""  selected>指定しない</option>
				<option value="18-99">年齢は気にしない</option>
				<option value="18-24">18～24歳</option>
				<option value="25-29">25～29歳</option>
				<option value="30-34">30～34歳</option>
				<option value="35-40">35～40歳</option>
				<option value="41-99">41歳～</option>
			</select>
		</td>
	</tr>
	
		<tr>
		<td class="name" width="12%" nowrap>写真</td>
		<td class="val" width="38%">
			<select name="photo">
			<option value="" selected>指定しない<option value="on">あり<option value="off">なし
			</select>
		</td>
		<td class="name" width="12%" nowrap>目的</td>
		<td class="val" width="38%">
			<select name="object" >
				<option value=""  selected>指定しない</option>
				<option value="秘密">秘密</option>
				<option value="恋人募集">恋人募集</option>
				<option value="セフレ募集">セフレ募集</option>
				<option value="結婚相手募集">結婚相手募集</option>
				<option value="趣味仲間募集">趣味仲間募集</option>
				<option value="割切り募集">割切り募集</option>
				<option value="メル友募集">メル友募集</option>
				<option value="不倫相手募集">不倫相手募集</option>
				<option value="即会い募集">即会い募集</option>
				<option value="一夜限り募集">一夜限り募集</option>
				<option value="サポート募集">サポート募集</option>
				<option value="SMパートナー募集">SMパートナー募集</option>
				<option value="その他">その他</option>
			</select>
		</td>
	</tr>
	<tr>
		<td class="name" width="12%" nowrap>タイプ</td>
		<td class="val" width="38%">
			<select name="type" >
				<option value=""  selected>指定しない</option>
				<option value="こだわらない">こだわらない</option>
				<option value="普通">普通</option>
				<option value="癒し系">癒し系</option>
				<option value="体育会系">体育会系</option>
				<option value="お笑い系">お笑い系</option>
				<option value="お兄系">お兄系</option>
				<option value="おじ様系">おじ様系</option>
				<option value="ｱｳﾄﾄﾞｱ系">ｱｳﾄﾄﾞｱ系</option>
				<option value="インドア系">インドア系</option>
				<option value="エッチ系">エッチ系</option>
				<option value="クール系">クール系</option>
				<option value="ｱｰﾃｨｽﾄ系">ｱｰﾃｨｽﾄ系</option>
				<option value="紳士系">紳士系</option>
				<option value="チョイ悪系">チョイ悪系</option>
				<option value="経営者･VIP系">経営者･VIP系</option>
				<option value="秋葉系">秋葉系</option>
				<option value="Ｓ系">Ｓ系</option>
				<option value="Ｍ系">Ｍ系</option>
				<option value="変態系">変態系</option>
				<option value="童貞">童貞</option>
			</select>
		</td>
		<td class="name" width="12%" nowrap>好みのタイプ</td>
		<td class="val" width="38%">
			<select name="liketype" >
				<option value=""  selected>指定しない</option>
				<option value="普通">普通</option>
				<option value="癒し系">癒し系</option>
				<option value="体育会系">体育会系</option>
				<option value="お笑い系">お笑い系</option>
				<option value="お姉系">お姉系</option>
				<option value="ギャル系">ギャル系</option>
				<option value="ｱｳﾄﾄﾞｱ系">ｱｳﾄﾄﾞｱ系</option>
				<option value="インドア系">インドア系</option>
				<option value="エッチ系">エッチ系</option>
				<option value="クール系">クール系</option>
				<option value="ｱｰﾃｨｽﾄ系">ｱｰﾃｨｽﾄ系</option>
				<option value="美人系">美人系</option>
				<option value="小悪魔系">小悪魔系</option>
				<option value="経営者･VIP系">経営者･VIP系</option>
				<option value="秋葉系">秋葉系</option>
				<option value="Ｓ系">Ｓ系</option>
				<option value="Ｍ系">Ｍ系</option>
				<option value="変態系">変態系</option>
				<option value="処女">処女</option>
			</select>
		</td>
	</tr>
	<tr>
		<td class="name" width="12%" nowrap>スタイル</td>
		<td class="val" width="38%">
			<select name="style" >
				<option value=""  selected>指定しない</option>
				<option value="何でもOK">何でもOK</option>
				<option value="秘密">秘密</option>
				<option value="ノーマル">ノーマル</option>
				<option value="スリム">スリム</option>
				<option value="ぽっちゃり">ぽっちゃり</option>
				<option value="筋肉質">筋肉質</option>
				<option value="背が高い">背が高い</option>
				<option value="背が低い">背が低い</option>
				<option value="童貞">童貞</option>
			</select>
		</td>
		<td class="name" width="12%" nowrap>好みのスタイル</td>
		<td class="val" width="38%">
			<select name="likestyle" >
				<option value=""  selected>指定しない</option>
				<option value="秘密">秘密</option>
				<option value="ノーマル">ノーマル</option>
				<option value="スリム">スリム</option>
				<option value="ぽっちゃり">ぽっちゃり</option>
				<option value="グラマー">グラマー</option>
				<option value="美脚">美脚</option>
				<option value="巨乳">巨乳</option>
				<option value="背が高い">背が高い</option>
				<option value="背が低い">背が低い</option>
			</select>
		</td>
	</tr>
		
	<tr>
		<td class="name" width="12%" nowrap>行動力</td>
		<td class="val" width="38%">
			<select name="q1" >
				<option value=""  selected>指定しない</option>
				<option value="1">★</option>
				<option value="2">★★</option>
				<option value="3">★★★</option>
				<option value="4">★★★★</option>
				<option value="5">★★★★★</option>
			</select>
		</td>
		<td class="name" width="12%" nowrap>経済力</td>
		<td class="val" width="38%">
			<select name="q2" >
				<option value=""  selected>指定しない</option>
				<option value="1">★</option>
				<option value="2">★★</option>
				<option value="3">★★★</option>
				<option value="4">★★★★</option>
				<option value="5">★★★★★</option>
			</select>
		</td>
	</tr>
	<tr>
		<td class="name" width="12%" nowrap>エッチ度</td>
		<td class="val" width="38%">
			<select name="q3" >
				<option value=""  selected>指定しない</option>
				<option value="1">★</option>
				<option value="2">★★</option>
				<option value="3">★★★</option>
				<option value="4">★★★★</option>
				<option value="5">★★★★★</option>
			</select>
		</td>
		<td class="name" width="12%" nowrap>ルックス</td>
		<td class="val" width="38%">
			<select name="q4" >
				<option value=""  selected>指定しない</option>
				<option value="1">★</option>
				<option value="2">★★</option>
				<option value="3">★★★</option>
				<option value="4">★★★★</option>
				<option value="5">★★★★★</option>
			</select>
		</td>
	</tr>
	<tr>
		<td class="name" width="12%" nowrap>優しさ</td>
		<td class="val" width="38%">
			<select name="q5" >
				<option value=""  selected>指定しない</option>
				<option value="1">★</option>
				<option value="2">★★</option>
				<option value="3">★★★</option>
				<option value="4">★★★★</option>
				<option value="5">★★★★★</option>
			</select>
		</td>
		<td class="name" width="12%" nowrap>接しやすさ</td>
		<td class="val" width="38%">
			<select name="q6" >
				<option value=""  selected>指定しない</option>
				<option value="1">★</option>
				<option value="2">★★</option>
				<option value="3">★★★</option>
				<option value="4">★★★★</option>
				<option value="5">★★★★★</option>
			</select>
		</td>
	</tr>
	<tr>
		<td class="name" width="12%" nowrap>
			<LABEL><input type="checkbox" name="col_point" value="1"  checked>
			持ちポイント</LABEL>
		</td>
		<td class="val" width="38%">
			<strong><input name="point" size="8" style="ime-mode: inactive;">～<input name="point2" size="8" style="ime-mode: inactive;">pt</strong>
		</td>
		<td class="name" width="12%" nowrap>
			<LABEL><input type="checkbox" name="col_sum_point" value="1" >
			累計購入PT</LABEL>
		</td>
		<td class="val" width="38%">
			<strong><input name="sum_point" size="8" style="ime-mode: inactive;">～<input name="sum_point2" size="8" style="ime-mode: inactive;">pt</strong>
		</td>
	</tr>
		<tr>
		<td class="name" width="12%" nowrap>
			<LABEL><input type="checkbox" name="col_sum_doll" value="1" >
			購入金額＄</LABEL>
		</td>
		<td class="val" width="38%">
			<strong>＄<input name="sum_doll" size="8" style="ime-mode: inactive;">～<input name="sum_doll2" size="8" style="ime-mode: inactive;"></strong>
		</td>
		<td class="name" width="12%" nowrap>
			<LABEL><input type="checkbox" name="col_sum_yen" value="1" >
			購入金額￥</LABEL>
		</td>
		<td class="val" width="38%">
			<strong>￥<input name="sum_yen" size="8" style="ime-mode: inactive;">～<input name="sum_yen2" size="8" style="ime-mode: inactive;"></strong>
		</td>
	</tr>
		<tr>
		<td class="name" width="12%" nowrap>
			<LABEL><input type="checkbox" name="col_lastbuytime" value="1" >
			最終購入</LABEL>
			<div align="center" id="lastbuytime_click"></div>
			<script src="js/date_click.js?id=lastbuytime_click&byy=y&bmm=m&bdd=d&bhh=00&bii=00&byy2=y&bmm2=m&bdd2=d&bhh2=23&bii2=59&bchk=true"></script>
		</td>
		<td class="val" width="38%"><strong>
			<input name="byy" size="8" style="ime-mode: inactive;">/<input name="bmm" size="4" style="ime-mode: inactive;">/<input name="bdd" size="4" style="ime-mode: inactive;"> <input name="bhh" size="4" style="ime-mode: inactive;">:<input name="bii" size="4" style="ime-mode: inactive;">
			<label for="L_bchk"><input id="L_bchk" type="checkbox" name="bchk" value="t">範囲</label><br>
			<input name="byy2" size="8" style="ime-mode: inactive;">/<input name="bmm2" size="4" style="ime-mode: inactive;">/<input name="bdd2" size="4" style="ime-mode: inactive;"> <input name="bhh2" size="4" style="ime-mode: inactive;">:<input name="bii2" size="4" style="ime-mode: inactive;"><br>
			<!--( <input name="buy_ago" size="3" style="ime-mode: inactive;">日前 <label for="L_is_buy_not"><input id="L_is_buy_not" type="checkbox" name="is_buy_not" value="1" style="ime-mode: inactive;">以前</label> )-->
			( <input type="text" name="buy_ago" size="3" id="buy_ago" onkeyup="set_time('buy');">日前 <label for="L_is_buy_theday"><input type="radio" id="L_is_buy_theday" name="is_buy_not" value="" onclick="set_time('buy');">当日</label> <label for="L_is_buy_not"><input type="radio" id="L_is_buy_not" name="is_buy_not" value="ago" onclick="set_time('buy');">以前</label> <label for="L_is_buy_last"><input type="radio" id="L_is_buy_last" name="is_buy_not" value="last" onclick="set_time('buy');">以後</label> )
			</strong>
		</td>
		<td class="name" width="12%" nowrap>
			<LABEL><input type="checkbox" name="col_buy_count" value="1" >
			累計購入回数</LABEL>
		</td>
		<td class="val" width="38%">
			<strong><input name="buy_count" size="8" style="ime-mode: inactive;">～<input name="buy_count2" size="8" style="ime-mode: inactive;">回</strong>
		</td>
	</tr>
	<tr>
		<td class="name" width="12%" nowrap>
			<LABEL><input type="checkbox" name="col_memo" value="1" >
			メモ帳</LABEL>
		</td>
		<td class="val" width="38%">
			<strong>
			<textarea name="memo" style="ime-mode: inactive;"></textarea>
			<label for="L_memo"><input id="L_memo" type="checkbox" name="memofuzzy" value="ON">曖昧</label>
			<label for="L_memonot"><input id="L_memonot" type="checkbox" name="memonot" value="ON">否定</label>
			</strong>
		</td>
		<td class="name" width="12%" nowrap>&nbsp;</td>
		<td class="val" width="38%">&nbsp;</td>
	</tr>
	<tr>
		<td class="name" width="12%" nowrap>
			消費ポイント
		</td>
		<td class="val" width="38%">
			<strong>
			<input name="point_shouhi" size="8" style="ime-mode: inactive;">～<input name="point_shouhi2" size="8" style="ime-mode: inactive;">pt<br>
			</strong>
			(※ログを参照している為ログに無いユーザは検索されません)
		</td>
		<td class="name" width="12%" nowrap>
		</td>
		<td class="val" width="38%">
		</td>
	</tr>
*@

	<tr> 
		<td class="bottom" width="100%" colspan="4" align="center"> 
			<input id="search_submit" type="submit" value="検索" style="width: 100px;" onClick="aaa()" />
		</td>
	</tr>
	<tr> 
		<td class="val" width="100%" colspan="4" align="center"> 
							<!-- sort -->
			<select size="1" name="col_sort">
			<option value="d__lasttime"  selected>▼最終ログイン</option>
			<option value="a__lasttime" >▲最終ログイン</option>
			<option value="d__jointime" >▼登録日時</option>
			<option value="a__jointime" >▲登録日時</option>
			<option value="d__lastsendtime" >▼最終送信</option>
			<option value="a__lastsendtime" >▲最終送信</option>
			<option value="d__lastbuytime" >▼最終購入</option>
			<option value="a__lastbuytime" >▲最終購入</option>
			<option value="d__send_count" >▼累計送信数</option>
			<option value="a__send_count" >▲累計送信数</option>
			<option value="d__point" >▼持ちポイント</option>
			<option value="a__point" >▲持ちポイント</option>
			<option value="d__sum_point" >▼累計購入PT</option>
			<option value="a__sum_point" >▲累計購入PT</option>
			<option value="d__buy_count" >▼累計購入回数</option>
			<option value="a__buy_count" >▲累計購入回数</option>
			<option value="none__none" >－指定しない</option>
			</select>
			
			<select size="1" name="limit">
			<option value="50">50件表示</option>
			<option selected value="100">100件表示</option>
			<option value="200">200件表示</option>
			<option value="300">300件表示</option>
			</select>

		</td>
	</tr>
	</table>
	</tr>

}
</table>



}