@(members: List[database.entities.Member])

@main(title="会員一覧"){

<marquee><font color="#ff0000"><b>該当する会員が5万件を超えるため一斉送信・一括操作はできません</b></font></marquee><p>
<table class="main" border="0" width="100%">
<tr>
	<td class="main">
	<div class="title"><font size="2">■ユーザー検索(男性)327178名</font></div>
	<hr>
	<table>
		<tr>
			<td class="name" colspan="1">
				<font size=2><b>一覧</b></font>
			</td>
			<td class="name" nowrap colspan="9">
			<table border=0><tr><td>
				
			</td></tr>
			</table>
			</td>
		</tr>
		<tr>
			<td width="1%" align="center" class="val" nowrap>
				<b><font size="2">ID</font></b></td>
			<td width="1%" align="center" class="val" nowrap>
				<b><font size="2">name</font></b></td>
		
			<td width="1%" align="center" class="val" nowrap>
				<b><font size="2">nick</font></b></td>
		
			<td width="1%" align="center" class="val" nowrap>
				<b><font size="2">mail</font></b></td>
		
			<td width="1%" align="center" class="val" nowrap>
				<b><font size="2">point</font></b></td>
		
			<td width="1%" align="center" class="val" nowrap>
				<b><font size="2">lasttime</font></b></td>
		
			<td width="1%" align="center" class="val" nowrap>
				<b><font size="2">ステータス</font></b></td>
		
			<td width="1%" align="center" class="val" nowrap>
				<b><font size="2">サブステータス</font></b></td>
		
			<td width="1%" align="center" class="val" nowrap>
				<b><font size="2">星座</font></b></td>
		
			<td width="1%" align="center" class="val" nowrap>
				&nbsp;</td>
		</tr>
		<tbody>
		@for(member <- members){
			<tr>
			<td class="val" width="1%">@member.id</td>
			<td class="val" width="1%">@member.name</td>
			<td class="val" width="1%">@member.nickName</td>
			<td class="val" width="1%">@member.email1</td>
			<td class="val" width="1%">@(member.totalPoint - member.spendPoint)</td>
			<td class="val" width="1%">@member.lastLoginDate</td>
			<td class="val" width="1%">@member.status</td>
			<td class="val" width="1%">@member.subStatus</td>
			<td class="val" width="1%">@member.zodiacType</td>
			<td  class="val" width="1%">
				<a href="#@member.id">詳細</a> 	
			</td>
			</tr>
		}
		</tbody>
		
	</table>
	</td>
</tr>
</table>

}