BODY{ 
    background-repeat: no-repeat;
    background-color:#DC143C;
    margin-top:20px;
    font-size: 12px;
    line-height: 16px;
}

table.main {
    background-color: #ffffff;
    border: 4px double #000000;
    padding: 5;
         empty-cells: show;
}
td.main {
    padding: 10px;
    border: 0;
}


td.name {
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    background-color:#999999;
    padding: 3px;
    /*text-align: center;*/
}

td.val_g {
    font-size: 12px;
    color: #234227;
    background-color:#eeeeee;
         empty-cells: show;
    padding: 3px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #689676;
}

td.val_k {
    font-size: 12px;
    color: #234227;
    background-color:#eeeeee;
         empty-cells: show;
    padding: 3px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #689676;
}

td.val {
    font-size: 12px;
    color: #234227;
    background-color:#eeeeee;
         empty-cells: show;
    padding: 3px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #689676;
}

td.val_support_g {
    font-size: 12px;
    color: #234227;
    background-color:#eeeeee;
         empty-cells: show;
    padding: 3px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #689676;
}

td.val_support_k {
    font-size: 12px;
    color: #234227;
    background-color:#dddddd;
         empty-cells: show;
    padding: 3px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #689676;
}

td.bottom {
    font-size: 12px;
    /*color: #234227;*/
    color: #ffffff;
    background-color:#666666;
    padding: 3px;
    border-bottom-width: 1px;
    border-bottom-color: #689676;
}

td.nosend {
    font-size: 12px;
    color: #234227;
    background-color: #eeeeff;
         empty-cells: show;
    padding: 3px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #689676;
}

HR {
    /*margin-left:80px;*/
    color:#660000;
    width:100%;
    height:2px;
}

.title {
    font-size: 14px;
    font-weight: bold;
}

LABEL {
    text-decoration: underline;
}

/**************************************
 * 入金レポート用CSS
 *
 *
*/

TD.w1{
    font-size   : x-small;
    white-space : nowrap;
    text-align  : center;
}
TD.w2{
    font-size   : x-small;
    white-space : nowrap;
    text-align  : center;
}
TD.w3{
    font-size   : x-small;
    white-space : nowrap;
    text-align  : center;
}
TD.r{
    text-align  : right;
}
TD.l{
    text-align  : left;
}
TD.t{
    text-align  : right;
    font-weight : bold;
}
TD.s{
    border-left       : 1px solid #696969;
    border-right      : 1px solid #696969;
    background-color  : #c0c0c0;
}
/*男性*/
TD.m{
    background-color  : #f0fff0;
    /*color: #3875b2;*/
}
/*女性*/
TD.w{
    background-color  : #fff0f5;
    /*color: #ff758e;*/
}


/*銀行振込*/
TD.TRADE_BANK{
    color              : #ffffff;
    background-color   : #0000FF;
}

/*郵便振替*/
TD.TRADE_POSTAL{
    color              : #ffffff;
    background-color   : #FF0000;

}

/*ZERO*/
TD.TRADE_ZERO_CREDIT{
    color              : #ffffff;
    background-color   : #20B2AA;
}

/*テレコム*/
TD.TRADE_TELECOM_CREDIT{
    color              : #ffffff;
    background-color   : #3CB371;
}

/*BB*/ 
TD.TRADE_BB_CREDIT{
    color              : #ffffff;
    background-color   : #1E90FF;
}

/*PEPOT クレジット*/
TD.TRADE_PEPOT_CREDIT{
    color              : #ffffff;
    background-color   : #88AA88;
}

/*e-Charge クレジット*/
TD.TRADE_E_CHARGE_CREDIT{
    color              : #ffffff;
    background-color   : #88BB77;
}

/*ビットキャッシュ*/
TD.TRADE_BITCASH{
    color              : #ffffff;
    background-color   : #006060;
}

/*G-Money*/
TD.TRADE_G_MONEY{
    color              : #ffffff;
    background-color   : #6B8E23;
}

/*スマートピット*/
TD.TRADE_SMARTPIT{
    color              : #ffffff;
    background-color   : #00B2B2;
}

/*コンビニダイレクト*/
TD.TRADE_C_DIRECT{
    color              : #ffffff;
    background-color   : #006400;
}

/*Cチェック*/
TD.TRADE_C_CHECK{
    color              : #ffffff;
    background-color   : #009442;
}

/*セキュリティーマネー*/
TD.TRADE_SECURITY_M{
    color              : #ffffff;
    background-color   : #FF00FF;
}

/*F-REGI*/
TD.TRADE_F_REGI{
    color              : #ffffff;
    background-color   : #004422;
}

/*GIGA_POINT*/
TD.TRADE_GIGA_POINT{
    color              : #ffffff;
    background-color   : #000000;
}

/*TRUSTPAY クレジット*/
TD.TRADE_TRUSTPAY_CREDIT{
    color              : #ffffff;
    background-color   : #473C8B;
}

/*入金おまかせ*/
TD.TRADE_OMAKASE{
    color              : #ffffff;
    background-color   : #4876FF;
}

/*ちょコム*/
TD.TRADE_CHOCOM{
    color              : #ffffff;
    background-color   : #FFA54F;
}

/*ポイントアフィリ*/
TD.TRADE_PTAF{
    color              : #ffffff;
    background-color   : #FF3300;
}

/*サービスポイント*/
TD.TRADE_SERVICE{
    color              : #ffffff;
    background-color   : #000000;
}

/*後払い*/
TD.TRADE_ATOBARAI{
    color              : #ffffff;
    background-color   : #FF00FF;
}

/*テレコムネットバンク決済*/
TD.TRADE_NETBANK{
    color              : #ffffff;
    background-color   : #ff7f50;
}

/*e-Payment決済*/
TD.TRADE_EPAYMENT{
    color              : #ffffff;
    background-color   : #8B1A1A;
}

TD.reply {
    font-size: 12px;
    background-color:#ffff99;
}
TD.unreply {
    font-size: 12px;
    background-color:#eeeeff;
}
/*error*/
.error {
         color:#ff0000;
}

A:link { color: #006699; }
A:visited { color: #006699; }
A:active { color: #006699; }
A:hover { color: #FF0000; }


/* ユーザー検索、詳細画面 各ステータスプルダウンメニュー ******/
#select_status       { width: 200px; }  /* ステータス         */
#select_substatus    { width: 200px; }  /* サブステータス     */
#select_price_status { width: 200px; }  /* 料金ステータス     */
#select_point_status { width: 200px; }  /* ポイントステータス */
/**************************************************************/